<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>嘿</title>
</head>
<body>
<div style="width:100%; margin: 0 auto;color:#5f5e5e;text-align:center">
    <span style="display:block;color:#676767;font-size:20px">{{ content.title }}</span>
    <span style="display:block;margin-top:15px;color:#676767;font-size:15px">天气预报哟</span>

    {% for weather in weather_data %}
    <div style="display: flex;margin-top:10px;height: 30px;line-height: 30px;justify-content: space-around;align-items: center;">
        <span style="width:15%; text-align:center;">{{ weather.day }}</span>
        <div style="width:25%; text-align:center;">
            <img height="20" width="20" style="vertical-align:middle;"
                 src="{{ weather.wea_icon }}" alt="">
            <span style="display:inline-block">{{ weather.wea }}</span>
        </div>
        <span style="width:25%; text-align:center;">{{ weather.temp }}</span>
        <div style="width:35%; ">
            <span style="display:inline-block;padding:0 8px;line-height:25px;color:{{ weather.get_air_color() }}; border-radius:15px; text-align:center;">{{ weather.air }}</span>
        </div>
    </div>
    {% endfor %}


    <div style="text-align:center;margin:35px 0;">
        <span style="display:block;margin-top:55px;color:#676767;font-size:15px">{{ content.hitokoto_say }}</span>

        <img style="width:100%;margin-top:20px;"
             src="{{ image.xingzuowu }}"
             alt="xingzuowu">

        <span style="display:block;margin-top:55px;color:#676767;font-size:15px">{{ content.one_say }}</span>

        <img style="width:100%;margin-top:20px;"
             src="{{ image.one }}"
             alt="one">
    </div>
</div>
</body>
</html>
